<% modal ||= false %>
<% remote = modal ? true : false %>

<%= form_for [@board, Task.new] , method: :post, remote: remote, html: { class: "form-group" } do |f| %>
  <div id="error_explanation">
  </div>
  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :priority %>
    <%= f.select(:priority) do %>
      <% Task.priorities.keys.each_with_index do |value, index| %>
        <%= content_tag(:option, value.humanize, value: value) %>
      <% end %>
    <% end %>
    <%= f.label :status %>
    <%= f.select(:status) do %>
      <% Task.statuses.keys.each_with_index do |value, index| %>
        <%= content_tag(:option, value.to_s.underscore.humanize, value: value) %>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>