<div class="task">
  <div class="media">
    <div class="task-body">
      <h4><%= task.title %></h4>
      <div class="row">
        <div class="col-xs-6">
          <span><b>Status: </b><%= task.status.underscore.humanize %></span>
        </div>
        <div class="col-xs-6 text-right">
          <span><b>Prioridade: </b><%= task.priority.underscore.humanize %></span>
        </div>
      </div>
    </div>
  </div>
</div>