<%= form_for @board, html: { class: "form-group" } do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= f.check_box :public %>
        Quadro público
    </label>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>