<div class="row">
  <% @boards.each do |board| %>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= link_to board.title, board_path(board), class: "panel-title" %>
          <%= link_to board_path(board), method: :delete, remote: true, data: {confirm: 'Certeza que deseja deletar ?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </div>
        <div class="panel-body">
          <%= board.title %>
        </div>
        <div class="panel-footer small">
          <footer class="text-right">
              <% unless board.public? %>
                <span class="glyphicon glyphicon-lock"></span>
              <% end %>
              <%= board.user.nil? ? "-" : board.user.email %>
          </footer>
        </div>
      </div>
    </div>
  <% end %>
</div>
