<% content_for :board_content do %>
    <p class="navbar-text"><%= @board.title %></p>
    <button type="button" class="btn btn-default glyphicon glyphicon-plus" data-toggle="modal" data-target="#newTask" />
<% end %>

<div class="row heading">
  <% Task.statuses.each do |status| %>
    <div class="col-xs-3">
      <h2><%= status[0].to_s.underscore.humanize %></h2>
    </div>
  <% end %>
</div>

<div class="row lanes">
  <% Task.statuses.keys.each do |status| %>
    <div class="lane col-xs-3 <%= status %>">
      <% @board.tasks.send(status.to_s).each do |task| %>
        <%= render task %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="modal fade" id="newTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="newTaskLabel">Nova tarefa</h4>
      </div>
        
      <div class="modal-body">
        <%= render 'tasks/form', modal: true %>
      </div>
    </div>
  </div>
</div>