/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,500,300,100);

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #F9F9F9;
}

html {
  height: 100%;
}

body,
.container-fluid,
.project,
.sidebar {
  height: 100%;
}

.header {
  height: 41px;
  background: #FFF;
  position: fixed;
  border-bottom: 1px solid #CCC;
  z-index: 10000;
  width: 100%;
  .btn-toolbar {
    margin-top: 8px;
  }
}
h1 {
  margin-top: 10px;
  font-size: 1.3em;
}
h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 900;
  color: #777;
}

h1,
h2 {
  text-transform: uppercase;
}

.heading {
  position: fixed;
  width: 100%;
  background: #EEE;
  text-align: center;
  border-bottom: 1px solid #CCC;
  z-index: 1000;
  top: 41px;
  h2 {
    color: #444;
    margin: 10px 0;
    font-weight: 500;
  }
}

.lanes {
  margin-top: 90px;
}
.task {
  border: 1px solid #CCC;
  border-bottom: 2px solid #CCC;
  background: #FFF;
  padding: 10px;
  margin-bottom: 10px;
  .task-body {
    .task-heading {
      font-size: 1em;
    }
  }
  .label {
    text-transform: uppercase;
    font-weight: 400;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}