<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <a class="close" data-dismiss="alert">&#215;</a>
      O formulário contém <%= pluralize(object.errors.count, "erro") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <!-- <li><%#= msg %></li> -->
      <%= content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) %>
    <% end %>
    </ul>
  </div>
<% end %>