<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Home", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Novo", new_board_path %>
        </li>
        <%= yield :board_content %>
      </ul>
      <ul class="navbar-nav navbar-right">
        <% if user_signed_in? %>
          <p class="navbar-text"><%= current_user.email %></p>
          <%= link_to "Logout", destroy_user_session_path, class: "btn btn-default navbar-btn navbar-right", method: :delete %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-default navbar-btn navbar-right" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>