<!DOCTYPE html>
<html lang="en">
<head>
  <title>RockBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/nav' %>
  <div class="container-fluid">
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </div>

</body>
</html>
